@import './assets/fonts/Gilroy/stylesheet.css';
@import './assets/fonts/Nekst/stylesheet.css';
@import './assets/vars';

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.app {
  font-family: Nekst;
  color: $black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 1440px;
  margin: 44px 0 64px;
  padding: 0 20px;

  .appWrapper {
    width: 100%;

    input {
      outline: none;
    }

    h1 {
      font-weight: 900;
      font-size: 34px;
      line-height: 90%;
      display: block;
    }


    form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 32px;

      .item {
        width: 100%;
      }

      .item:nth-child(4) {
        margin-top: 100px;
      }

      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 136%;
        margin-bottom: 8px;
      }

      .sum {
        .mainText {
          color: #333333;
          font-weight: 900;
          font-size: 22px;
          line-height: 20px;
        }
      }

      .btn {
        background: $orange;
        border: none;
        font-weight: 900;
        font-size: 22px;
        line-height: 20px;
        color: white;
        border-radius: 40px;
        padding: 18px 18px 22px;
        cursor: pointer;
        width: 100%;
        height: fit-content;
        align-self: center;

        &:hover {
          background: $black;
          transition: all 0.5s ease;
        }

        &:focus {
          background: $grey;
          transition: all 0.5s ease;
        }

        &:disabled {
          background: rgba(255, 149, 20, 0.4);
          transition: all 0.5s ease;
          cursor: default;
        }

        .image {
          -webkit-animation: spin 1s linear infinite;
          -moz-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
        }

        @-moz-keyframes spin {
          100% {
            -moz-transform: rotate(360deg);
          }
        }
        @-webkit-keyframes spin {
          100% {
            -webkit-transform: rotate(360deg);
          }
        }
        @keyframes spin {
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .app {
    margin: 64px 0 156px;

    .appWrapper {
      h1 {
        font-size: 54px;
      }
    }

  }
}