@import './src/assets/vars';

.slider {
  position: relative;

  input {
    display: block;
  }

  .number {
    background: #F3F3F4;
    border-radius: 16px;
    padding: 16px 24px;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: $grey;
    border: none;
  }

  input[type=range] {
    position: absolute;
    bottom: -10px;
    left: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: $orange;
    border-radius: 5px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $orange;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }

}